# Firmware secrets.
src\Firmware\generic_firmware\secrets.cpp

# Visual Studio cache directory.
.vs/
src/.vs/
src/Server/.vs/

# Directories used during application build.
src/Server/Database/bin/
src/Server/Database/obj/
src/Server/Database/Database.jfm
src/Server/Database/Database.dbmdl

src/Server/SmartHome.Server.Tests.Utilities/bin/
src/Server/SmartHome.Server.Tests.Utilities/obj/

src/Server/SmartHome.Server.Repositories/bin/
src/Server/SmartHome.Server.Repositories/obj/

src/Server/SmartHome.Server.Tests.Repositories/bin/
src/Server/SmartHome.Server.Tests.Repositories/obj/

src/Server/SmartHome.Server.Services/bin/
src/Server/SmartHome.Server.Services/obj/

src/Server/SmartHome.Server.Tests.Services/bin/
src/Server/SmartHome.Server.Tests.Services/obj/

src/Server/SmartHome.Server.Api.Clients/bin/
src/Server/SmartHome.Server.Api.Clients/obj/

src/Server/SmartHome.Server.Tests.Api.Clients/bin/
src/Server/SmartHome.Server.Tests.Api.Clients/obj/

src/Server/SmartHome.Server.Features.Managers/bin/
src/Server/SmartHome.Server.Features.Managers/obj/

src/Server/SmartHome.Server.Tests.Features.Managers/bin/
src/Server/SmartHome.Server.Tests.Features.Managers/obj/

src/Server/SmartHome.Server.Api.Controllers.Common/bin/
src/Server/SmartHome.Server.Api.Controllers.Common/obj/

src/Server/SmartHome.Server.Tests.Api.Controllers.Common/bin/
src/Server/SmartHome.Server.Tests.Api.Controllers.Common/obj/

src/Server/SmartHome.Server.Api.Controllers.Firmware/bin/
src/Server/SmartHome.Server.Api.Controllers.Firmware/obj/

src/Server/SmartHome.Server.Tests.Api.Controllers.Firmware/bin/
src/Server/SmartHome.Server.Tests.Api.Controllers.Firmware/obj/

src/Server/SmartHome.Server.Api.Controllers.Clients/bin/
src/Server/SmartHome.Server.Api.Controllers.Clients/obj/

src/Server/SmartHome.Server.Tests.Api.Controllers.Clients/bin/
src/Server/SmartHome.Server.Tests.Api.Controllers.Clients/obj/

src/Server/SmartHome.Server.Main/bin/
src/Server/SmartHome.Server.Main/obj/


src/Server/UnitTests/bin/
src/Server/UnitTests/obj/