# Firmware secrets.
fwr\generic_firmware\secrets.cpp

# Visual Studio cache directory.
.vs/
swr/.vs/
swr/server/.vs/

# Directories used during application build.
swr/server/SmartHome.Server.Databases.Main/bin/
swr/server/SmartHome.Server.Databases.Main/obj/
swr/server/SmartHome.Server.Databases.Main/SmartHome.Server.Databases.Main.jfm
swr/server/SmartHome.Server.Databases.Main/SmartHome.Server.Databases.Main.dbmdl

swr/server/SmartHome.Server.Tests.Utilities/bin/
swr/server/SmartHome.Server.Tests.Utilities/obj/

swr/server/SmartHome.Server.Repositories/bin/
swr/server/SmartHome.Server.Repositories/obj/

swr/server/SmartHome.Server.Tests.Repositories/bin/
swr/server/SmartHome.Server.Tests.Repositories/obj/

swr/server/SmartHome.Server.Services/bin/
swr/server/SmartHome.Server.Services/obj/

swr/server/SmartHome.Server.Tests.Services/bin/
swr/server/SmartHome.Server.Tests.Services/obj/

swr/server/SmartHome.Server.Api.Clients/bin/
swr/server/SmartHome.Server.Api.Clients/obj/

swr/server/SmartHome.Server.Tests.Api.Clients/bin/
swr/server/SmartHome.Server.Tests.Api.Clients/obj/

swr/server/SmartHome.Server.Features.Managers/bin/
swr/server/SmartHome.Server.Features.Managers/obj/

swr/server/SmartHome.Server.Tests.Features.Managers/bin/
swr/server/SmartHome.Server.Tests.Features.Managers/obj/

swr/server/SmartHome.Server.Api.Controllers/bin/
swr/server/SmartHome.Server.Api.Controllers/obj/

swr/server/SmartHome.Server.Tests.Api.Controllers/bin/
swr/server/SmartHome.Server.Tests.Api.Controllers/obj/

swr/server/SmartHome.Server.Api.Controllers.Firmware/bin/
swr/server/SmartHome.Server.Api.Controllers.Firmware/obj/

swr/server/SmartHome.Server.Tests.Api.Controllers.Firmware/bin/
swr/server/SmartHome.Server.Tests.Api.Controllers.Firmware/obj/

swr/server/SmartHome.Server.Api.Controllers.Clients/bin/
swr/server/SmartHome.Server.Api.Controllers.Clients/obj/

swr/server/SmartHome.Server.Tests.Api.Controllers.Clients/bin/
swr/server/SmartHome.Server.Tests.Api.Controllers.Clients/obj/

swr/server/SmartHome.Server.Main/bin/
swr/server/SmartHome.Server.Main/obj/
